.skills
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headings
{
    max-width: 80%;
    text-align: center;
}
.skill-h
{
    font-size: 2.2rem;
}
.skill-p
{
    font-size: 1.8rem;
}
.skill-slider
{
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.skills-section
{
    background: black;
    color: #fff;
}
.item
{
    background: #141414;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    height: 10rem;
    text-align: center;
}
.img
{
    font-size: 5rem;
}
